{% extends "base.html.j2" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
</div>
        <div class="col-md-2">
            <select class="form-select" name="brand">
                <option value="">所有品牌</option>>
                {% for brand in brands %}
                <option value="{{ brand.id }}" {% if brand.id == current_brand %}selected{% endif %}>
                    {{ brand.name }}
                </option>
                {% endfor %}
            </select>
        </div>
{% endblock %}